.card {
  background-color: white;
  border-radius: 4px;
  color: black;
  padding: 8px 16px;
  margin: 4px 8px;
}

.card.inline {
  display: flex;
}

.card.column {
  display: flex;
  flex-direction: column;
}

.card.flat {
  border: 1px solid #ccc;
}

.card.default {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}