* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 680px;
  margin: 0 auto;
  padding: 8px 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
